.calendar {
  width: fit-content;
  margin: auto;
}

.addDiary {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #bbb;
  border-radius: 50px;
  background-color: #fff;
  margin: -125px 0 20px -50px;
  cursor: pointer;
}
.plus {
  color: #555;
  font-size: 24px;
}
